.card .anticon-edit {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: none;
}
.card:hover .anticon-edit {
  display: block;
}
.card:hover .anticon-edit:hover {
  transform: scale(1.4);
  color: #33ddff;
  cursor: pointer;
}
.card .anticon-edit:hover {
  animation: shake infinite 2s linear;
  animation-play-state: running;
}

label {
  width: 50px;
  display: inline-block;
}

.ant-modal-body {
  padding-bottom: 0;
}

.ant-modal-body input {
  width: calc(100% - 50px);
}

.ant-modal-footer {
  border-top: none;
  padding-top: 0;
}
