.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr [col-line]);
  grid-template-rows: 50px 20% auto 50px;
  grid-gap: 20px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    ". . . t t t t t t . . ."
    ". . m m m m m m m m . ."
    "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  /* background-color: #a68cd9; */
}

.tools {
  grid-area: t;
  /* background-color: #87cb62; */
}

.main {
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100%;
  grid-column-gap: 10px;
  /* background-color: #ede6c9; */
}

.footer {
  grid-area: f;
  /* background-color: #a3e0e0; */
}

.block {
  grid: 1fr;
  color: whitesmoke;
}

.search {
  height: 20%;
}

.img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  margin-bottom: 30px;
}

.logo:hover {
  animation: logo-spin infinite 2s linear;
  /* animation-timing-function: cubic-bezier(.34,0,.84,1); */
}

/* logo旋转动效 */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ant-design组件样式覆盖 */
.ant-card {
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  border: none;
}
.ant-card:hover {
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.ant-card-body {
  padding: 15px !important;
}
